__pycache__/
videos/high/*.mp4
videos/high/*.ts
videos/high/*.m3u8
videos/low/*.mp4
videos/low/*.ts
videos/low/*.m3u8
publicidad/*
banners/*
preview/*
gstreamerCommands/
include/
bin/
lib64/
lib64/*
lib/
.env