<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script>
        const SERVER_PORT = "{{SERVER_PORT}}"
        const SERVER_IP = "{{SERVER_IP}}"
    </script>
    <style>
        input::placeholder {
            font-size: small;
            text-align: start;
            font-weight: 400;
        }

        .loader {
            width: 48px;
            height: 48px;
            border: 2px solid #FFF;
            border-bottom-color: transparent;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>

</head>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const SERVER_IP = "{{SERVER_IP}}"
        const SERVER_PORT = "{{SERVER_PORT}}"
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Video Calibration</title>
    <style>
        .drag-area {
            transition: background-color 0.3s ease;
        }

        .drag-area.dragover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    </style>
</head>

<body class="bg-[#2d2d2d] flex flex-col gap-10 justify-center items-center h-screen">
    <header>
        <img src="{{ url_for('static',filename='img/VRINSITU_Vertical_Blanco.png') }}" class="w-[200px]  mr-auto" alt="">
    </header>
    <div class="bg-[#474747] text-white p-6 rounded-lg shadow-lg max-w-lg w-full">
        <h2 class="text-xl font-semibold text-gray-200 mb-4">Camera Links</h2>

                <div id="list-server" class="flex flex-col gap-3">
                    <div class="flex flex-row gap-4 ">

                        <input type="checkbox">

                        <input
                            class="w-full bg-transparent border border-2 rounded-2xl p-[5px] pl-4 text-sm font-normal "
                            placeholder="camera url 8"  type="text">
                    </div>

                    <div class="flex flex-row gap-4">

                        <input type="checkbox">
                        <input
                            class="w-full bg-transparent border border-2 rounded-2xl p-[5px] pl-4 text-sm font-normal "
                            placeholder="camera url 7"  type="text">
                    </div>
                    <div class="flex flex-row gap-4">

                        <input type="checkbox">
                        <input
                            class="w-full bg-transparent border border-2 rounded-2xl p-[5px] pl-4 text-sm font-normal "
                            placeholder="camera url 6"  type="text">
                    </div>
                    <div class="flex flex-row gap-4">

                        <input type="checkbox">
                        <input
                            class="w-full bg-transparent border border-2 rounded-2xl p-[5px] pl-4 text-sm font-normal "
                            placeholder="camera url 5"  type="text">
                    </div>
                    <div class="flex flex-row gap-4">

                        <input type="checkbox">
                        <input
                            class="w-full bg-transparent border border-2 rounded-2xl p-[5px] pl-4 text-sm font-normal "
                            placeholder="camera url 4"  type="text">
                    </div>
                    <div class="flex flex-row gap-4">

                        <input type="checkbox">
                        <input
                            class="w-full bg-transparent border border-2 rounded-2xl p-[5px] pl-4 text-sm font-normal "
                            placeholder="camera url 3"  type="text">
                    </div>
                    <div class="flex flex-row gap-4">

                        <input type="checkbox">
                        <input
                            class="w-full bg-transparent border border-2 rounded-2xl p-[5px] pl-4 text-sm font-normal "
                            placeholder="camera url 2"  type="text">
                    </div>
                    <div class="flex flex-row gap-4">

                        <input type="checkbox">
                        <input
                            class="w-full bg-transparent border border-2 rounded-2xl p-[5px] pl-4 text-sm font-normal "
                            placeholder="camera url 1"  type="text">
                    </div>
                </div>
                <div class="w-full flex flex-row gap-7">
                </div>

            <br/>

            <div id="upload-buttons" class="flex items-center">

                <button onclick="captureFrames()"
                    class="px-4 py-2 hover:bg-blue-700 bg-blue-600 text-white rounded
                           transition duration-300 ease-in-out cursor-pointer w-full">
                    Capture frames
                </button>
            </div>
    </div>
    <script src="{{url_for('static', filename='calibration.js')}}"></script>

</body>
